.headCell {
    margin-left: 0.5rem;
    padding: 0.5rem;
    border: none;
    box-shadow: none;
    background-color: unset;
    text-decoration: none;
    transition: all 0.2s ease-in;
    display: flex;
    cursor: pointer;
    flex-direction: row;
}

input.licell {
    cursor: pointer;
}

.headCell:hover {
    font-weight: 900;
}

.a {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: rgba(22, 22, 22, 1);
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 2rem;
    align-items: center;
    cursor: pointer;
}

.a:hover {
    color: rgba(220, 220, 220, 1)
}

.emptyTable {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(15, 15, 15, 0.4);
    height: 3rem;
}

.tableRow {
    display: flex;
    list-style: none;
    width: 65vw;
    display: flex;
    align-items: center;
    height: 3rem;
    justify-content: space-around;
    transition: all ease-in 0.2s;
}

.tableHead {
    display: flex;
    justify-content: space-around;
    width: 65vw;
    background-color: rgba(22, 22, 22, 0.1);
    height: 3rem;
    text-decoration: none;
    color: rgba(22, 22, 22, 1);
    align-items: center;
}

.tableRow .licell {
    width: 10rem;
    display: flex;
    justify-content: center;
}

.tableRow:nth-child(2n) {
    background-color: rgba(22, 22, 22, 0.1);
}

.deleteButton {
    padding: 0rem 0.5rem;
    margin: 0rem;
    box-shadow: none;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin:0rem;
}

.item {
    width: 5rem;
    justify-content: center;
    display: flex;
}

.tableRow:hover {
	background-color: rgba(15, 150, 150);
    color: rgba(220, 220, 220, 1);
}

.tableRow:hover .deleteButton {
    color: rgba(220, 220, 220, 1);
}

.tableRow:hover .deleteButton:hover {
    background-color: rgba(220, 220, 220, 1);
    color: rgba(15, 150, 150);
}