.button {
    text-decoration: none;
    text-align: left;
    border:none;
    background: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.content {
    transition: all 0.3s ease;
    max-height: 20em;
    opacity: 1;
    display: flex;
}

.hide {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.title {
    padding-right: 0.5rem;
}

.icon {
    font-size: 2rem;
    padding-right: 0.5rem;
    color: rgba(15,150,150,1);
}

.icon:hover {
    color: rgba(12,120,120,1)
}