[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yawaei = "*"
fastapi = {extras = ["all"], version = "*"}
aiohttp = "*"
python-jose = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.10"
