.button {
    border: none;
    color: white;
    margin: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    transition: all 0.5s;
    position: relative;
    top: 0px;
}

.deactivated {
    background-color: rgba(150, 150, 150);
    box-shadow: 0 9px rgba(120, 120, 120);
}

.activated {
    box-shadow: 0 9px rgb(12, 120, 120);
    background-color: rgba(15, 150, 150);
}

.button:active {
    box-shadow: 0 4px rgb(12, 120, 120);
    top: 5px;
}

.button:hover:not(:disabled) {
    background-color: rgba(22, 22, 22, 0.1);
    color: rgba(15, 150, 150);
}

.ldsEllipsis {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0.5em;
}

.ldsEllipsis div {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.ldsEllipsis div:nth-child(1) {
    animation: ldsEllipsis1 0.6s infinite;
}

.ldsEllipsis div:nth-child(2) {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    animation: ldsEllipsis2 0.6s infinite;
}

.ldsEllipsis div:nth-child(3) {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    animation: ldsEllipsis2 0.6s infinite;
}

.ldsEllipsis div:nth-child(4) {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    animation: ldsEllipsis3 0.6s infinite;
}

@keyframes ldsEllipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes ldsEllipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes ldsEllipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0.2rem, 0);
    }
}
