.button {
    background-color: rgba(15, 150, 150);
    border: none;
    color: white;
    margin: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    box-shadow: 0 9px rgb(12, 120, 120);
    transition: all 0.5s;
    position: relative;
    top: 0px;
}

.button:active {
    box-shadow: 0 4px rgb(12, 120, 120);
    top: 5px;
}
.button:hover {
    background-color: rgba(22, 22, 22, 0.1);
    color: rgba(15, 150, 150);
}