.manageButton {
    box-shadow: 1px 3px #0c7878;
    margin: 2.5rem 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.deleteButton {
    margin: 0px;
    padding: 0.2rem 0.5rem;
    box-shadow: 1px 3px #0c7878;
    cursor: pointer;
}

.pageBody {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.promotionBox {
    overflow: scroll;
}

.tr {
    display: flex;
    flex-direction: row;
}

.tbody {
    display: flex;
    flex-direction: column;
}

.th, .td {
    width: 15rem;
    text-align: center;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.addPromo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thead {
    background-color: rgba(22, 22, 22, 0.1);
}

.tr:nth-child(2n) {
    background-color: rgba(22, 22, 22, 0.1);
}

.managerPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.managerInputCombo {
    max-width: 15rem;
    align-self: center;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.emptyTable {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(15, 15, 15, 0.4);
    height: 3rem;
}

.managerInputDate {
    margin: 0rem 0rem 0.5rem;
    max-width: 15rem;
    padding-bottom: 0px !important;
}

.table {
    display: flex;
    flex-direction: column;
    margin: 0px 10vw;
    align-items: center;
    margin-top: 2rem;
}

h1, h2 {
    text-align: center;
}