.manageButton {
    padding: 1px 0.5rem;
    box-shadow: 1px 3px #0c7878;
    margin: 0px;
}

.promotionBox {
    align-self: flex-start;
    height: 14rem;
    overflow: scroll;
}

.th, .td {
    width: 15rem;
    text-align: center;
    height: 3rem;
}

.tr:nth-child(2n+1) {
    background-color: rgba(22, 22, 22, 0.1);
}

.managerPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.managerInputCombo {
    max-width: 15rem;
    align-self: center;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.managerAddButton {
    display: flex;
    flex-flow: column;
    width: 3rem;
    height: 10rem;
    margin-top: 3.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
}

.managerInputDate {
    margin: 0rem 0rem 0.5rem;
    max-width: 15rem;
    padding-bottom: 0px !important;
}

.ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0rem;
}

li:nth-child(2n+1) {
    background-color: rgba(22, 22, 22, 0.1);
}

li {
    justify-content: space-between;
    display: flex;
    width: 15rem;
}

.table {
    display: flex;
    flex-direction: column;
    margin: 0px 10vw;
    align-items: center;
    margin-top: 2rem;
}

h1, h2 {
    text-align: center;
}